.about-page {
  background-color: var(--color-secondary);
  width: 100vw;
  height: 100vh;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.about-page > .header-internal {
  margin-bottom: var(--space-big);
}
