.menu {
  text-indent: -100%;
  display: block;
}

.menu::after,
.menu::before,
.menu > .center {
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--color-secondary);
  border-radius: 2px;
}

.menu::before,
.menu > .center {
  margin-bottom: 3px;
}
