.input-game {
  display: none;
}

.label-game {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.label-game::before {
  content: "";
  border: 2px solid var(--color-secondary);
  border-radius: 4px;
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 5px;
}

.input-game:checked + .label-game::before {
  background-color: var(--color-secondary);
}
