.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-y-side) var(--space-x-side);
}

.header > .about {
  margin-left: auto;
  margin-right: var(--space-mid);
}

.header > .menu {
  width: 25px;
}
