:root {
  --space-radius-small: 2px;
  --space-radius: 5px;
  --space-smallest: 5px;
  --space-mid: 10px;
  --space-midding: 15px;
  --space-middest: 25px;
  --space-big: 35px;
  --space-biggest: 80px;
}
