.app {
  text-align: center;
  overflow-x: hidden;
  position: relative;
  height: 100vh;
}

.app > .header-game {
  width: 80vw;
  margin: 0 auto var(--space-biggest);
  min-width: 240px;
}
.app .board-game {
  display: inline-block;
  box-sizing: border-box;
  width: 85vw;
  height: 85vw;
  margin-bottom: var(--space-middest);
  max-width: 350px;
  max-height: 350px;
  min-width: 240px;
  min-height: 240px;
}

.app .label-game {
  display: flex;
  justify-content: center;
  margin-bottom: var(--space-big);
}

.app .history-game {
  display: none;
}

.app .input-game:checked ~ .history-game {
  display: block;
}

@media (min-width: 740px) {
  .app > .header-game {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    box-sizing: border-box;
  }

  .app > .wrapper-hashtaghistory {
    display: inline-flex;
    justify-content: center;
    position: relative;
    transition: transform 200ms linear;
  }

  .app > .wrapper-hashtaghistory.-active {
    transform: translateX(-20%);
  }

  .app .label-game {
    position: absolute;
    top: 370px;
    left: 100px;
  }

  .app .history-game {
    opacity: 0;
    display: block;
    position: absolute;
    z-index: -1;
    transition: transform 150ms linear;
    transition: opacity 150ms linear;
  }

  .app .wrapper-hashtaghistory.-active > .history-game {
    opacity: 1;
    transform: translateX(200%);
  }
}
