.app {
  text-align: center;
}

.app > .header {
  width: 80vw;
  margin: 0 auto var(--space-big);
}
.app > .board {
  display: inline-block;
  box-sizing: border-box;
  width: 85vw;
  height: 85vw;
  margin-bottom: 20px;
}
