.app {
  text-align: center;
  overflow-x: hidden;
  position: relative;
  height: 100vh;
}

.app > .header-game {
  width: 80vw;
  margin: 0 auto var(--space-big);
}
.app > .board-game {
  display: inline-block;
  box-sizing: border-box;
  width: 85vw;
  height: 85vw;
  margin-bottom: 20px;
}
